{{#isQueryParam}}{{!

    }}@ApiParam(value = "{{{description}}}"{{!
        }}{{#required}}, required = true{{/required}}{{!
        }}{{^isContainer}}{{!
            }}{{#allowableValues}}, {{> allowableValues}}{{/allowableValues}}{{!
            }}{{#defaultValue}}, defaultValue = {{!
            }}{{^isString}}"{{/isString}}{{!
            }}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{!
            }}{{{defaultValue}}}{{!
            }}{{^isString}}"{{/isString}}{{!
            }}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{!
            }}{{/defaultValue}}{{!
        }}{{/isContainer}}{{!
    }}){{!

    }}{{^isContainer}}{{!
        }}{{#isString}}{{#isEnum}}{{#allowableValues}}{{!
            }} @Pattern(regexp="{{!
                }}{{#values}}{{{.}}}{{^-last}}|{{/-last}}{{/values}}{{!
            }}"){{!
        }}{{/allowableValues}}{{/isEnum}}{{/isString}}{{!
    }}{{/isContainer}}{{!

    }}{{^isContainer}}{{!
        }}{{#defaultValue}}{{!
            }} @DefaultValue({{!
                }}{{^isString}}"{{/isString}}{{!
                }}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{!
                }}{{{defaultValue}}}{{!
                }}{{^isString}}"{{/isString}}{{!
                }}{{#isString}}{{#isEnum}}"{{/isEnum}}{{/isString}}{{!
            }}){{!
        }}{{/defaultValue}}{{!
    }}{{/isContainer}}{{!

    }} @QueryParam("{{baseName}}"){{!

    }}{{#useBeanValidation}} {{>beanValidation}}{{/useBeanValidation}}{{!

    }} {{{dataType}}} {{paramName}}{{!

}}{{/isQueryParam}}