spring.profiles.active=default
user.timezone=GMT
crest.api.name=/api-v6.0
crest.web.static=/tmp/data/web
crest.dump.dir=/tmp/data/dump
crest.log.dir=/tmp/data/dump
crest.server.security=none
crest.redis.host=localhost
crest.redis.port=6379
management.endpoint.health.show-details=ALWAYS
